body { background: #bf169; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 52px; display: flex; }
.block-auth-0 { color: #c290a7; font-size: 20px; margin-bottom: 5px; }
.block-order-1 { color: #a24553; font-size: 21px; margin-bottom: 5px; }
.block-sms-2 { color: #1406c; font-size: 20px; margin-bottom: 5px; }
.block-product-3 { color: #8f0246; font-size: 14px; margin-bottom: 5px; }
.block-auth-4 { color: #b37e63; font-size: 17px; margin-bottom: 5px; }
.block-shipping-5 { color: #d936d1; font-size: 15px; margin-bottom: 5px; }
.block-notify-6 { color: #2aee6b; font-size: 18px; margin-bottom: 5px; }
.block-user-7 { color: #b3a86b; font-size: 15px; margin-bottom: 5px; }
.block-config-8 { color: #d644d1; font-size: 12px; margin-bottom: 5px; }
.block-product-9 { color: #b71fcc; font-size: 13px; margin-bottom: 5px; }
.block-cache-10 { color: #a05228; font-size: 16px; margin-bottom: 5px; }